/*
* @Author: huziangWEB
* @Date:   2019-01-20 16:44:14
* @Last Modified by:   huziangWEB
* @Last Modified time: 2019-01-20 16:47:17
*/
.footer{
	padding-bottom: 10px;
}
.footer .links{
	text-align: center;
	color: #666;
	line-height: 30px;
}
.footer .links .link{
	padding: 0 10px;
}
.footer .copyright{
	text-align: center;
	color: #666;
	line-height: 30px;
}