/*
* @Author: huziangWEB
* @Date:   2019-02-14 20:16:56
* @Last Modified by:   huziangWEB
* @Last Modified time: 2019-02-19 02:29:10
*/
.sort-con{
	overflow: auto;
}
.sort-con .sort-item{
	float: left;
	display: inline-block;
	position: relative;
	padding: 0 8px;
	height: 24px;
	line-height: 24px;
	border: 1px #ccc solid;
	margin-right: -1px;
	background: #fff;
	color: #333;
	cursor: pointer;
}
.sort-con .sort-item.active{
	background: #c60023;
	border: 1px #c60023 solid;
	color: #fff;
}
.sort-con .sort-item .fa-sort-desc{
	position: absolute;
	top: 8px;
	right: 8px;
}
.sort-con .sort-item.asc .fa-sort-desc{
	opacity: .6;
}
.sort-con .sort-item.desc .fa-sort-asc{
	opacity: .6;
}


.p-list-con{
	margin-top: 15px;
	margin-right: -20px;
	overflow: hidden;
}
.p-list-con .p-item{
	position: relative;
	width: 180px;
	float: left;
	padding: 10px;
	margin: 0 20px 20px 0;
	background: #fff;
}
.p-list-con .p-item .p-img-con{
	width: 180px;
	height: 200px;
}
.p-list-con .p-item .p-img-con .p-img{
	width: 100%;
	height: auto;
}
.p-list-con .p-item .p-price-con{
	height: 30px;
	line-height: 30px;
}
.p-list-con .p-item .p-price-con .p-price{
	font-size: 16px;
	color: #e7380b;
}
.p-list-con .p-item .p-name-con{
	height: 40px;
	overflow: hidden;
}
.p-list-con .p-item .p-name-con .p-name{
	line-height: 20px;
	margin-bottom: 10px;
	color: #666;
	text-decoration: none;
}

.err-tip{
	height: 100px;
	line-height: 100px;
	color: #f60;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background: #eee;
}