/*
* @Author: huziangWEB
* @Date:   2019-01-23 14:56:19
* @Last Modified by:   huziangWEB
* @Last Modified time: 2019-01-23 17:27:09
*/

/*最外层容器*/
.page-wrap{
	padding: 40px 0;
	background: #e72955;

}
.user-con{
	width: 400px;
	background: #fff;
	margin: 0 auto;
	position: relative;
}
.user-con .user-title{
	font-size: 22px;
	text-align: center;
	padding: 10px 0;
	border: 1px #e6e6e6 solid;
	font-weight: bold;
	color: #666;
}
.user-con .user-box{
	padding: 20px;
}
.user-con .user-box .error-item{
	position: relative;
	padding: 4px 0 4px 40px;
	margin-bottom: 10px;
	border: 1px red solid;
	color: red;
	background: #fde9c9;
	display: none;
}
.user-con .user-box .error-icon{
	position: absolute;
    left: 14px;
    top: 50%;
    margin-top: -7px;
    font-size: 14px;
}

.user-con .user-item{
	position: relative;
	margin-bottom: 20px;
}
.user-con .user-item .user-label{
	position: absolute;
	left: 1px;
	top: 1px;
	bottom: 1px;
	width: 40px;
	line-height: 36px;
	background: #f3f3f3;
	font-size: 18px;
	color: #d3d3d3;
	text-align: center;
	border-right: 1px #bdbdbd solid;
}
.user-con .user-item .user-content{
	padding: 10px 0 10px 50px;
	width: 308px;
	height: 18px;
	line-height: 18px;
	font-size: 14px;
	border: 1px #bdbdbd solid;
}
.user-con .btn-submit{
	padding: 0;
	width: 100%;
	text-align: center;
	font-size: 20px;
}
.user-con .link-item{
	text-align: right;
	margin-top: 10px;
}
.user-con .link-item .link{
	margin-left: 10px;
	color: #999;
}
