/*
* @Author: huziangWEB
* @Date:   2018-12-01 00:07:07
* @Last Modified by:   huziangWEB
* @Last Modified time: 2019-01-27 00:11:21
*/
/*css reset*/
*{
	margin: 0;
	padding: 0;
}

body{
	background: #f6f6f6;
	font: 12px/1.5 tahoma, arial ,Microsoft YaHei, sans-serif;
}
li{
	list-style: none;
}
img{
	display: block;
	border: none;
}
label{
	cursor: pointer;
}
input[type='checkbox']{
	cursor: pointer;
}
input{
	outline: none;
}
a{
	text-decoration: none;
}
/*定宽布局*/
.w{
	width: 1080px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}


.panel{
	padding: 10px;
	margin-bottom: 10px;
	background: #fff;
}
.panel .panel-title{
	padding: 10px;
	font-size: 14px;
	 color: #666;
	 font-weight: bold;
	 border-bottom: 1px #eee solid;
}
.panel .panel-body{
	padding: 10px;
	overflow: hidden;
}
/*全局通用样式*/
.hide{
	display: none;
}
/*超链样式*/
.link{
	color:#999;
	cursor: pointer;
	text-decoration: none;
}
.link:hover{
	color: #e80012;
}
.link-text{
	color: #999;
	text-decoration: none;
}


.btn{
	display: inline-block;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	border: none;
	background: #c60023;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	outline: none;
	cursor: pointer;
	text-decoration: none;
}
.btn-mini{
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	padding: 0 10px;
}


/*loading*/
.loading{
	margin: 10px auto;
	display: block;
	width: 65px;
	height: 65px;
	border:1px #ddd solid;
	border-radius: 100%;
	/*background: url(../../iamge/icon/loading.gif) no-repeat;*/
	opacity: .6;
}

.with-nav{
	width: 950px;
	margin-left: 130px;
}










