<div class="footer">
	<div class="w">
		<div class="links">
			<a href="#" class="link" target="_blank">百度</a>|
			<a href="#" class="link" target="_blank">百度</a>|
			<a href="#" class="link" target="_blank">百度</a>|
			<a href="#" class="link" target="_blank">百度</a>|
			<a href="#" class="link" target="_blank">百度</a>
		</div>
		<p class="copyright">
			Copyright © 2013-2019 商城  baidu.com All Rights Reserved.
		</p>
	</div>
</div>

<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>