/*
* @Author: huziangWEB
* @Date:   2019-02-22 21:04:31
* @Last Modified by:   huziangWEB
* @Last Modified time: 2019-02-22 23:50:32
*/
.order-info .text-line{
	height: 30px;
	line-height: 30px;
}
.order-info .text-line .text{
	margin-right: 30px;
}
.order-info .btn{
	width: 80px;
	height: 25px;
	text-align: center;
	padding: 0;
	line-height: 25px;
	margin-right: 10px;
	font-size: 12px;
}

.product-table{
	width: 100%;
	border-collapse: collapse;
}
.product-table .cell-th{
	background: #eee;
}
.product-table .cell{
	border-bottom: 1px dashed #eee;
	background: #fafafa;
}
.product-table .cell-img{
	padding: 10px;
	width: 10%;
	text-align: center;
}
.product-table .cell-img .p-img{
	width: 80px;
	height: 80px;
	border: 1px #ddd solid;
}
.product-table .cell-info{
	width: 45%;
	text-align: left;
}
.product-table .cell-price{
	width: 15%;
	text-align: center;
}
.product-table .cell-count{
	width: 15%;
	text-align: center;
}
.product-table .cell-total{
	width: 15%;
	text-align: center;
}

.total{
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
	margin-right: 20px;
	text-align: right;
}
.total .total-price{
	font-weight: bold;
	color: #c60023;
}